.card-container {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
  }
  
  .card-header {
    justify-content: center;
  }
  
  .card-body {
    justify-content: center;
  }