.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333; /* You can customize the background color */
    color: white; /* You can customize the text color */
  }
  
  .left-tabs {
    display: flex;
  }
  
  .tab {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .right-search {
    display: flex;
  }
  
  input {
    padding: 5px;
    margin-right: 10px;
  }
  